/**

=========================================================
** Custom Header styling
=========================================================

**/

@layer components {
    .header {
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 1px;
            background: rgba(0, 0, 0, 0.08);
        }

        &.header--transparent {
            &:after {
                background: rgba(255, 255, 255, 0.15);
            }
        }
    }

    .header--container {
        @apply relative flex items-center justify-between py-2 lg:justify-start;
    }

    .header-logo--container {
        @apply mr-2 lg:mr-8 flex items-center;
    }
}
